.relative { position: relative; }

/* b */
.border-none { border: none };

.btn {
    display: grid;
    place-items: center;
    padding: var(--btn-padding-base);
    border-radius: var(--border-rounded-base);
}
.btn-base {
    background-color: var(--color-base);
    color: var(--color-base-content);
}
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
}
.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-secondary-content);
}
.btn-middle {
    background-color: var(--color-middle);
    color: var(--color-middle-content);
}
.btn-outline {
    border: none;
    border-radius: var(--border-rounded-base);
    outline: 2px solid transparent;
    display: grid;
    place-items: center;
    padding: var(--btn-padding-base);
    background-color: transparent;
}
.btn-outline-base {
    background-color: var(--color-base);
    color: var(--color-base-content);
}
.btn-outline-primary {
    outline-color: var(--color-primary-content);
    color: var(--color-primary-content);
}
.btn-outline-secondary {
    outline-color: var(--color-secondary);
    color: var(--color-secondary-content);
}
.btn-outline-middle {
    outline-color: var(--color-middle);
    color: var(--color-middle-content);
}

.min-h-screen {
    height: 100vh;
}

.text-base {
    color: var(--color-base-content);
}
.bg-base {
    background-color: var(--color-base-content);
}

.bg-primary {
    color: var(--color-primary);
}
.text-primary {
    color: var(--color-primary-content);
}

.bg-secondary {
    color: var(--color-secondary);
}
.text-secondary {
    color: var(--color-secondary-content);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

