
.main { min-height: 50vh; }

.main-container { padding: var(--mobile-container-padding); }

.content-container { width: 100%; }

.content-header {
    margin-top: 16px;
}

.content-header .content-header-container {

    flex-direction: column;
    row-gap: 20px;
    display: flex;

    .section {

        background-color: var(--color-primary-dark);
        border-radius: var(--border-rounded-lg);
        box-shadow: var(--shadow-primary-lg);
        flex-direction: column;
        display: flex;
        padding: 24px;

        .cover {
            box-shadow: var(--shadow-primary-base);
            border-radius: 100%;
            padding: 6px;
            height: 96px;
            width: 96px;
            & img {
                object-fit: cover;
                object-position: center;
            }
        }

        & h3 {
            font-size: var(--font-xl);
            text-align: center;
            font-weight: 600;
            margin-top: 16px;
            height: 100%;
        }
        & p {
            margin-top: 20px;
            text-align: center;
        }

        & a { margin-top: 16px; }
    }

}

@media(min-width: 1024px) {

    .content-header {
        transform: translateY(-35%);
        margin-top: 20px;
    }

    .content-header .content-header-container {
        max-width: 960px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 26px;
    }

}
