/.phpunit.cache
/node_modules
/public_html/hot
/public_html/storage
/public_html/css/draftcss
/storage/*.key
/.thiet_ke
/Html
/Drafting
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
