:root {
    /* Colors */
    --color-white                       : #FFF;
    --color-white-50                    : #ffffff82;
    --color-black                       : #000;
    --color-black-50                    : #00000082;
    --color-primary                     : #221551;
    --color-primary-light               : #96d22d;
    --color-primary-dark                : #1A103C;
    --color-primary-content             : #122101;
    --color-primary-content-active      : #b0b145;
    --color-secondary                   : #651fc1;
    --color-secondary-light             : #6b41cd;
    --color-secondary-dark              : #5806b0;
    --color-secondary-content           : #f5f3ff;
    --color-middle                      : #CED0E0;
    --color-middle-content              : #2d3746;
    --color-accent                      : #a3f7ee;
    --color-accent-content              : #232F2D;
    --color-neutral                     : #2c2234;
    --color-neutral-content             : #f9fafb;
    --color-base                        : #EFEFEF;
    --color-base-dark                   : #cfcfd0;
    --color-base-80                     : #efefefcc;
    --color-base-content                : #303046;
    --color-info                        : #a1afe8;
    --color-info-content                : #23252E;
    --color-success                     : #147b65;
    --color-success-content             : #69AA9B;
    --color-warning                     : #f6982c;
    --color-warning-content             : #955E1E;
    --color-error                       : #e32b37;
    --color-error-content               : #FCBFBC;

    /* Box-shadow */

    --font-xs   : 0.75rem; --font-sm  : 0.875rem; --font-base : 1rem;    --font-lg   : 1.125rem; --font-xl   : 1.25rem;

    --font-2xl  : 1.5rem; --font-3xl  : 1.875rem; --font-4xl  : 2.25rem; --font-5xl  : 3rem;     --font-6xl  : 3.75rem;

    --font-7xl  : 4.5rem; --font-8xl  : 6rem;     --font-9xl  : 8rem;

    --gradient-hero        : radial-gradient( circle 369px at 75% 35%,  #f7eaa399 20%, #ecb4ee80 60%, #a3e6f780 100.7% );

    --gradient-popup       : radial-gradient( circle 369px at 50% 50%,  #ffd2b480 10%, #ecb4ee66 50%, #a3cbf74d 100.7% );

    --shadow-primary-base  :  0 0.10rem 0.25rem #051e054d, inset 0 -1px 0 #07c80703;

    --shadow-primary-lg    :  0 0.15rem 0.35rem #051e054d, inset 0 -1px 0 #07c80703;

    --shadow-primary-xl    :  0 0.20rem 0.40rem #051e054d, inset 0 -1px 0 #07c80703;

    --shadow-default    :  0 0.10rem 0.25rem #1d1d1d4d, inset 0 -1px 0 #1d1d1d1b;

    --shadow-default-lg :  0 0.15rem 0.35rem #1d1d1d4d, inset 0 -1px 0 #1d1d1d1b;

    --shadow-default-xl :  0 0.20rem 0.40rem #1d1d1d4d, inset 0 -1px 0 #1d1d1d1b;

    --shadow-secondary    :  0 0.10rem 0.25rem #17003b4d, inset 0 -1px 0 #17003b1d;

    --shadow-secondary-lg :  0 0.15rem 0.35rem #17003b4d, inset 0 -1px 0 #17003b1d;

    --shadow-secondary-xl :  0 0.20rem 0.40rem #17003b4d, inset 0 -1px 0 #17003b1d;


    /* Fonts */
    --font-app                     : 'Dosis', sans-serif;
    --font-design                  : 'Oswald', sans-serif;

    /* Border va outline */
    --border-rounded-base          : 0.25rem;
    --border-rounded-lg            : 0.50rem;
    --border-rounded-xl            : 0.75rem;

    /* Padding va margin */
    --btn-padding-base             : 0.40rem 1.5rem;
    --btn-padding-lg               : 0.45rem 1.75rem;
    --btn-padding-xl               : 0.47rem 2.00rem;

    --mobile-container-padding     : 16px;

}

