
.widget-title {
    font-size: var(--font-lg);
    font-weight: 500;
}

.widget-home {

    .widget-home-container {

        .widget-home-body {

            grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
            margin-top: 1.5rem;
            display: grid;
            gap: 1.125rem;

            .card {

                background-color: var(--color-base);
                grid-template: auto 1fr 2fr auto;
                display: grid;

                .card-cover {

                    /* box-shadow: var(--shadow-default); */
                    background-color: var(--color-base-dark);
                    justify-content: center;
                    border-radius: 1rem;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    height: 9rem;

                    img {
                        border-radius: var(--border-rounded-base);
                        object-position: center;
                        position: absolute;
                        object-fit: cover;
                        height: 100%;
                    }

                }

                .widget-item-title {
                    font-size: var(--font-lg);
                    margin-top: 1.25rem;
                    font-weight: 600;
                    cursor: default;
                }

                .widget-item-content {

                    font-size: var(--font-base);
                    font-weight: 400;
                    text-align: left;
                    margin-top: 1rem;

                }

                .widget-footer {

                    border-top: 1px dashed var(--color-base-dark);
                    justify-content: space-between;
                    font-size: var(--font-sm);
                    font-weight: 400;
                    align-items: center;
                    margin-top: 32px;
                    padding: 12px 0;
                    display: flex;

                    .user {
                        align-items: center;
                        column-gap: 6px;
                        display: flex;
                    }
                }

            }

        }

    }

}

@media(min-width: 768) {

    .widget-home-body {

        .card {

            max-width: 50%;

        }
    }

}

@media(min-width: 1024px) {

    .widget-home-banners {
        margin-top: 3.5rem;
    }

    .img-banners {


        .img-banners-container {

            /* border-radius: var(--border-rounded-xl); */
            box-shadow: var(--shadow-default);
            position: relative;
            overflow: hidden;
            min-height: 18rem;

            & img {

                /* border-radius: var(--border-rounded-xl); */
                object-position: center;
                position: absolute;
                object-fit: cover;
                height: 100%;
                width: 100%;

            }

            .banners-content {

                place-content: center;
                position: absolute;
                display: grid;
                height: 100%;
                width: 100%;

               .banners-title {
                    background-color: var(--color-white-50);
                    font-family: var(--font-design);
                    font-size: var(--font-xl);
                    color: var(--color-black);
                    padding: 1rem 5rem;
                    font-weight: 600;
                } 
                & p {
                    background-color: var(--color-black-50);
                    color: var(--color-white);
                    padding: 1.5rem 5rem;
                    max-width: 640px;
                }
            }

        }
    }


}

