/* === Component === */

.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }

/* === c === */

.card-base {

    border-radius: var(--border-rounded-lg);
    box-shadow: var(--shadow-default);
    padding: 0.75rem;

    transition: all 0.2s ease-out;

    &:hover {
        box-shadow: var(--shadow-default-xl);
        transition: all 0.3s ease-in;
    }

}

.card-primary {

    border-radius: var(--border-rounded-lg);
    box-shadow: var(--shadow-primary-lg);
    padding: 0.75rem;

    transition: all 0.2s ease-out;

    &:hover {
        box-shadow: var(--shadow-primary-xl);
        transition: all 0.3s ease-in;
    }

}

/* === b === */
.border-none { border: none }

/* btn */
.btn {
    box-shadow: var(--shadow-default);
    border-radius: var(--border-rounded-base);
    padding: var(--btn-padding-base);
    place-items: center;
    display: grid;
}
.btn-base {
    background-color: var(--color-base);
    color: var(--color-base-content);
}
.btn-base-dark {
    background-color: var(--color-base-dark);
    color: var(--color-base-content);
}
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
}
.btn-primary-dark {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}
.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-secondary-content);
}
.btn-middle {
    background-color: var(--color-middle);
    color: var(--color-middle-content);
}
.btn-outline {
    border: none;
    border-radius: var(--border-rounded-base);
    outline: 2px solid transparent;
    display: grid;
    place-items: center;
    padding: var(--btn-padding-base);
    background-color: transparent;
}
.btn-outline-base {
    background-color: var(--color-base);
    color: var(--color-base-content);
}
.btn-outline-primary {
    outline-color: var(--color-primary-content);
    color: var(--color-primary-content);
}
.btn-outline-secondary {
    outline-color: var(--color-secondary);
    color: var(--color-secondary-content);
}
.btn-outline-middle {
    outline-color: var(--color-middle);
    color: var(--color-middle-content);
}
/* bg */
.bg-base {
    background-color: var(--color-base);
}
.bg-primary {
    background-color: var(--color-primary);
}
.bg-primary-dark {
    background-color: var(--color-primary-dark);
}
.bg-secondary {
    background-color: var(--color-secondary);
}

/* c */
/* d */
/* f */
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-bold { font-weight: 700; }
.font-extrabold { font-weight: 800; }

.fs-sm    { font-size: var(--font-sm)}
.fs-base  { font-size: var(--font-base);}
.fs-lg    { font-size: var(--font-lg);}
.fs-xl    { font-size: var(--font-xl);}

.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }

/* j */
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-start { justify-content: start; }
.justify-end { justify-content: end; }

/* g */
.grid { display: grid; }

/* h */
[hidden] {
    display: none;
}
.hidden {
    display: none;
}
.hover\:text-primary:hover
{
    color: var(--color-secondary);
    transition: all .2s ease-in-out;
    &:active {
        color: var(--color-primary-content-active);
        transition: all .2s ease-in-out;
    }
}
.hover\:text-primary-active:hover {
    color: var(--color-secondary);
    transition: all .2s ease-in-out;
    &:active {
        color: var(--color-secondary);
        transition: all .2s ease-in-out;
    }
}
.hover\:text-secondary:hover {
    color: var(--color-primary-content);
    transition: all .2s ease-in-out;
    &:active {
        color: var(--color-primary-content);
        transition: all .2s ease-in-out;
    }
}
/* k */
/* t */
.top-0 {top: 0}
.top-left-0 { top: 0; left: 0; }
.top-right-0 { top: 0; right: 0; }

.title-base {
    font-family: var(--font-design);
    font-size: var(--font-2xl);
    line-height: 2.5rem;
    font-weight: 400;
}
.title-hero {
    font-family: var(--font-design);
    font-size: var(--font-3xl);
    font-weight: 600;
}
/* text */
.text-underline-primary-active {
    &:after {
        transform: all 2s;
        background-color: var(--color-primary-content);
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: 2px;
        content: '';
        bottom: 0;
    }
}
.text-white {
    color: var(--color-white);
}
.text-primary {
    color: var(--color-primary-content);

}
.text-primary-active {
    color: var(--color-primary-content-active);
}
.text-base {
    color: var(--color-base-content);
}
.text-secondary {
    color: var(--color-secondary-content);
}
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/* m */
.min-h-screen {
    height: 100vh;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* r */
.rounded-base {
    border-radius: var(--border-rounded-base);
}
.rounded-lg {
    border-radius: var(--border-rounded-lg);
}
.rounded-xl {
    border-radius: var(--border-rounded-xl);
}

.rounded-lg {
    border-radius: 9px;
}

.w-full {
    width: 100%;
}

[x-cloak] { display: none !important; }

@media (min-width: 768px) {
    .title-hero {
        font-size: var(--font-5xl);
        font-weight: 800;
    }
}

