
.widget-title {
    font-size: var(--font-lg);
    font-weight: 500;
}

.widget-home {

    .widget-home-container {

        .widget-home-body {

            grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
            margin-top: 1.5rem;
            display: grid;
            gap: 1.125rem;

            .card {

                background-color: var(--color-base);
                grid-template: auto 1fr 2fr auto;
                display: grid;

                .card-cover {

                    box-shadow: var(--shadow-default);
                    background-color: var(--color-base-dark);
                    justify-content: center;
                    border-radius: 1rem;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    height: 9rem;

                    img {
                        border-radius: var(--border-rounded-base);
                        object-position: center;
                        position: absolute;
                        object-fit: cover;
                        height: 100%;
                    }

                }

                .widget-item-title {
                    font-size: var(--font-lg);
                    margin-top: 1.25rem;
                    font-weight: 600;
                    cursor: default;
                }

                .widget-item-content {

                    font-size: var(--font-base);
                    font-weight: 400;
                    text-align: left;
                    margin-top: 1rem;

                }

                .widget-footer {

                    border-top: 1px dashed var(--color-base-dark);
                    justify-content: space-between;
                    font-size: var(--font-sm);
                    font-weight: 400;
                    align-items: center;
                    margin-top: 32px;
                    padding: 12px 0;
                    display: flex;

                    .user {
                        align-items: center;
                        column-gap: 6px;
                        display: flex;
                    }
                }

            }

        }

    }

}

@media(min-width: 768) {

    .widget-home-body {

        .card {

            max-width: 50%;

        }
    }

}

