@import "./__root.css";
@import "./__atd-base.css";
@import "./__atd-media.css";
@import "./__atd-components.css";
@import "./__animation.css";
@import "./__body.css";
@import "./__widget.css";

/* Screen size sm  : 640px; md  : 768px; lg  : 1024px; xl  : 1280px; 2xl : 1536px; */

html {
    background-color           : var(--color-base);
    font-family             : var(--font-app);
    font-weight            : 500;
    font-size            : var(--font-lg);
    color             : var(--color-base-content);
}

/* a */

/* b */

/* c */

/* d */

/* e */

/* f */

.footer {

    background-color: var(--color-base-dark);
    background-image: var(--gradient-hero);
    padding: 3rem 0;

    .footer-container {

        padding: var(--mobile-container-padding);

        .footer-bar {
            font-size: var(--font-sm);
            margin-top: 32px;
        }
    }
}

.footer-body-container {

    flex-direction: column;
    row-gap: 20px;
    display: flex;

    .search {
        flex-direction: column;
        column-gap: 12px;
        display: flex;
        width: 100%;

        .input-group {

            align-items: center;
            display: flex;

            & input {

                border-radius: var(--border-rounded-base);
                outline: 2px solid transparent;
                transition: all 0.5s ease-out;
                font-size: var(--font-sm);
                padding: 9px 12px;
                border: none;
                width: 100%;

                &:focus {
                    outline: 2px solid var(--color-primary-dark);
                    transition: all 0.5s ease-out;
                    border: none;
                }
                &:hover {
                    outline: 2px solid var(--color-primary-dark);
                    transition: all 0.5s ease-out;
                    border: none;
                }
            }
            & button {
                border-radius: 5px;
                padding: 6px 12px;
                right: 3px;

                &:hover {
                    transition: all 0.5s ease-out;
                    background-color: var(--color-secondary);
                    color: var(--color-primary-content);
                }
            }
        }

        & p {
            margin-top: 16px;
        }
    }

    .social {

        align-items: center;
        margin-top: 24px;
        column-gap: 16px;
        display: flex;
    }

}
/* j */

/* h */

.home-hero {

    background-image: var(--gradient-hero);
    box-shadow: var(--shadow-primary-lg);
    background-color: var(--color-base);
    color: var(--color-primary-content);
    padding-bottom: 2rem;
    padding-top: 4.5rem;
    min-height: 33vh;

    .home-hero-container {
        padding: var(--mobile-container-padding);
        flex-direction: column;
        align-items: center;
        display: flex;
        .home-hero-description {
            width: 100%;
            padding-top: 24px;
            font-size: var(--font-lg);
        }
        .home-hero-footer {
            justify-content: start;
            padding-top: 42px;
            cursor: defaul;
            display: flex;
        }
    }
}


/* k */

/* l */

/* n */

/* thanh điều hướng chính */
.nav-bar {

    background-color: var(--color-primary);
    box-shadow: var(--shadow-default);
    position: fixed;
    z-index: 9999;
    display: flex;
    width: 100%;
    top: 0;

    .nav-bar-container {

        padding: var(--mobile-container-padding);
        color: var(--color-primary-content);
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 100%;

        .nav-bar-brand {
            align-items: center;
            column-gap: 6px;
            display: flex;
            & span {
                font-size: 24px;
                font-weight: 700;
                font-family: var(--font-design);
                text-transform: uppercase;
                display: inline-flex;
                line-height: initial;
            }
            & img {
                height: 32px;
            }
        }
        .nav-bar-menu {
            align-items: center;
            display: none;
            height: 100%;
            column-gap: 30px;
            & a {
                display: flex;
                align-items: center;
                column-gap: 6px;
            }
        }
        .nav-bar-right {
            display: none;
            cursor: default;
            & a {
                align-items: center;
                column-gap: 9px;
                display: flex;
            }
        }
        .nav-bar-right-mobile {
            /* color: var(--color-primary-content); */
            align-items: center;
            display: flex;
        }
    }
}

/* Sub menu */
.nav-bar {
    cursor: default;
    .submenu-list-container {
        background-color: var(--color-base-80);
        background-image: var(--gradient-popup);
        backdrop-filter: blur(5px);
        box-shadow: var(--shadow-primary-base);
        padding: 24px 0;
        z-index: 99999;
        width: 100%;
        top: 125%;
        right:0;
        left: 0;

        .submenu-list {

            justify-content: center;
            column-gap: 32px;
            display: flex;

            .topic-item-container {
                border-left: 1px dashed var(--color-primary-dark);
                margin-top: 20px;
                padding: 0 15px;
                padding-bottom: 12px;
            }

        }
    }

}
/* hết thanh điều hướng chính */

/* o */

/* s */

/* y */

/* z */
/* u */
.profile {

    .user-avatar {
        background: var(--color-primary-content);
        box-shadow: var(--shadow-default-base);
        border-radius: 100%;
        padding: 3px;

        /* img {}; */
    }
    .user-description {
        box-shadow: var(--shadow-default-lg);
        background-color: var(--color-base);
        /* transform: translateY(110%); */
        padding: 16px;
        row-gap: 12px;
        top: 125%;
        right: 0;

        .text {
            padding: 9px 0;
            border-bottom: 2px dashed var(--color-primary-dark);
        }
        & button {
            margin-top: 16px;
        }
    }
}
/* v */
/* w */

@media (min-width: 768px) {

    .home-hero {
        padding-top: 5.5rem;
        min-height: 90vh;

        .home-hero-container {
            max-width: 690px;
            height: 100%;
            text-align: center;
            .home-hero-description { max-width: 520px }
            .home-hero-footer {
                justify-content: center;
            }
        }
    }
    .nav-bar {

        .nav-bar-container {
            padding: 0 !important;
            .nav-bar-menu {
                display: flex;
                & a { padding: 12px 0;
                    & label { display: none;}
                }
            }
            .nav-bar-right {
                display: flex;
            }
            .nav-bar-right-mobile {
                display: none;
            }
        }
    }
}

@media (min-width: 1024px) {

    .home-hero {
        padding-top: 6.5rem;
        /* & .home-hero-container { } */
    }

    .nav-bar {
        .nav-bar-container {
            .nav-bar-menu {
                & a {
                    & label { display: inline-flex;}
                }
            }
            /* & .nav-bar-right { } */
            /* & .nav-bar-right-mobile { } */
        }
    }

    .footer-body-container {

        justify-content: space-between;
        flex-direction: row;
        column-gap: 20px;
        display: flex;

        .search {
            width: 30%;
        }

        .social {
            justify-content: end;
            margin-top: 0;
        }

    }

}

