@import "./partials/root.css";
@import "./partials/media.css";
@import "./partials/components.css";
@import "./partials/animation.css";


/*---------------------------------------------------*\
*                      :root 
\*---------------------------------------------------*/

:root { 
    --to-sun: 0.2rem;
    --to-sun-bg: #8099e6; 
}

:root[data-theme="light"] { 
    --to-sun: 3rem; 
    --to-sun-bg: #e6b300;
}

/*---------------------------------------------------*\
*                      Html 
\*---------------------------------------------------*/

html[data-theme='light'] { & body { transition: background-color ease-in 0.9s, color ease-out 0.9s } }
html[data-theme='dark'] { & body { transition: background-color ease-in 0.9s, color ease-in 0.9s } }

body {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    font-family : var(--font-app);
    font-size : var(--font-lg);
    font-weight : 500;
}

/*---------------------------------------------------*\
*                    Navigation bar 
\*---------------------------------------------------*/

.padding-navbar {
    height: 60px;
    width: 100%;
    visibility: hidden;
}
.navbar {
    .nav-container {
        display: flex;
        flex-direction: column;
        color: var(--md-sys-color-on-surface);
        width: 100%;

        .nav-left {
            background-color: var(--md-sys-color-surface);
            padding: 0.75rem var(--container-pd-x);
            box-shadow: var(--shadow-default-md);
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
            width: 100%;
            left:0;
            top:0;

            .nav-brand {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
                & h1 { text-transform: uppercase; font-size: var(--font-2xl); font-weight: 700; }
                & img { width: 1.55rem; height: 1.55rem;}
            }
        }
        .nav-menu-mobile {
            background-color: var(--md-sys-color-surface-variant);
            box-shadow: var(--shadow-default-md);
            overflow: auto;
            position: fixed;
            padding: 1.25rem;
            padding-top: 5rem;
            height: 100vh;
            width: 100%;
            max-width: 320px;
            z-index: 50;
            top: 0;

            .nav-menu-container {
                .nav-link { 
                    align-items: center;
                    column-gap: 0.5rem;
                    display: flex;
                    padding-block: 0.35rem;;
                }
                .sub-menu {
                    padding-left: 1.5rem;
                    .sub-list {
                        .sub-list-title { 
                            color:var(--md-sys-color-tertiary);
                            font-size: var(--font-md);
                            padding-block: 0.55rem;
                            border-bottom: 1px dashed var(--md-sys-color-outline);
                            cursor: default;
                        }
                        .list {
                            .list-item { 
                                padding-block: 0.55rem;
                                align-items: center;
                                column-gap: 1rem;
                                display: flex;

                                &:before {
                                    border-radius: .4rem;
                                    height: 0.4rem;
                                    width: 0.4rem;
                                    content: '';
                                    background-color: var(--md-sys-color-on-surface-variant);
                                }
                            }
                        }
                    }
                }
            }
        } /* End navbar mobile */

        .nav-right { display: none;}

        .nav-menu-desktop {
            display: none; 
        }

    } /* end nav-container */

} /* end nav */


/*---------------------------------------------------*\
*                      Header 
\*---------------------------------------------------*/

header {

}


/*---------------------------------------------------*\
*                      Main 
\*---------------------------------------------------*/

main { }


/*---------------------------------------------------*\
*                      Footer
\*---------------------------------------------------*/

footer { 

    background-color: var(--color-base-dark);
    background-image: var(--gradient-hero);
    padding: 3rem 0;

    .footer-container {

        padding: var(--mobile-container-padding);

        .footer-bar {
            font-size: var(--font-sm);
            margin-top: 32px;
        }
    }

}


/*---------------------------------------------------*\
*                     Media 768px 
\*---------------------------------------------------*/




/*---------------------------------------------------*\
*                     Media 1024px 
\*---------------------------------------------------*/

@media(min-width: 960px) {

    .navbar {
        .nav-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
            z-index: 9999;
            width: 100%;

            .nav-left {
                background-color: transparent;
                box-shadow: none;
                display: flex;
                position: static;
                align-items: center;
                width: auto;
                padding: 0;

                .nav-open { display: none; }
            }

            .nav-menu-mobile {
                background-color: var(--md-sys-color-surface);
                box-shadow: none;
                border-right: 1px solid var(--md-sys-color-outline);
                padding-top: 2rem;
                top: 3.5rem;
                left:0;
                overflow: unset;
            }

            .nav-menu-desktop { 
                display: flex;
                height: 100%;

                .menu-desktop-container {
                    color: var(--md-sys-color-on-surface);
                    display: flex;
                    align-items: center;
                    column-gap: 2.5rem;
                    height: 100%;

                    .nav-link {
                        transition: all 0.3s ease-out;
                        font-size: var(--font-md);
                        display: inline-flex;
                        align-items: center;
                        column-gap: .5rem;
                        position: relative;
                        padding: 1rem 0;
                        height: 100%;
                    }

                    & :hover::before {
                        background: var(--md-sys-color-tertiary);
                        animation: active 0.2s ease-in;
                        position: absolute;
                        border-radius: 2px;
                        width: 100%;
                        content: '';
                        height: 3px;
                        bottom: 0;
                        left:0;
                        
                    }
                    .active::before {
                        background: var(--md-sys-color-primary);
                        transition: all 0.2s ease-in;
                        border-radius: 2px;
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        content: '';
                        bottom: 0;
                        left:0;
                        
                    }
                }
            }

            .nav-right {

                display: flex;
                align-items: center;

                .switch-theme {
                    background-color: var(--md-sys-color-surface-variant);
                    transition: background-color ease-in-out 0.5s;
                    border-radius: 2rem;
                    margin-right: 2rem;
                    align-items: center;
                    position: relative;
                    padding: 0.4rem;
                    display: flex;
                    gap: 1.6rem;

                    &::before {
                        content: '';
                        background-color: var(--to-sun-bg);
                        transform: translateX(var(--to-sun));
                        transition: all ease-in-out 0.5s;
                        clip-path: circle();
                        position: absolute;
                        height: 1.6rem;
                        width: 1.6rem;
                        z-index: 0;
                        left: 0;
                    }
                    & button { 
                        z-index: 100;
                        & svg { height: 1.2rem; width: 1.2rem;}
                    }
                }
                .profile {
                    display: grid;
                    place-items: center;

                    .user-avatar {
                        background-color: var(--md-sys-color-surface-variant);
                        box-shadow: var(--shadow-default-md);
                        border-radius: 100%;
                        padding: 0.25rem;

                        & img {
                            width: 1.75rem;
                            height: 1.75rem;
                        }
                    }
                    .user-info {
                        background-color: var(--md-sys-color-surface-variant);
                        color: var(--md-sys-color-on-surface-variant);
                        border-radius: var(--rounded-lg);
                        box-shadow: var(--shadow-default-md);
                        margin-top: .25rem;
                        position: absolute;
                        padding: 1rem;
                        width: 100%;
                        min-width: 240px;
                        top: 100%;
                        right: 0;
                    }
                }
            }
        }
    }
}



