@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

@import "./partials/root.css";
@import "./partials/media.css";
@import "./partials/components.css";
@import "./partials/animation.css";
@import "./partials/header.css";
@import "./partials/home.css";
@import "./partials/page.css";
@import "./partials/mainmenu.css";
@import "./partials/post-list.css";


/*---------------------------------------------------*\
*                      :root 
\*---------------------------------------------------*/

:root { --to-sun: 0.2rem; --to-sun-color: var(--md-sys-color-on-surface); --to-sun-bg: var(--md-sys-color-surface); }

:root[data-theme="light"] { --to-sun: 3rem; --to-sun-color: var(--md-sys-color-on-surface); --to-sun-bg: var(--md-sys-color-primary); }

/*---------------------------------------------------*\
*                      Html 
\*---------------------------------------------------*/

html[data-theme='light'] { & body { transition: background-color ease-in 0.9s, color ease-out 0.9s } }
html[data-theme='dark'] { & body { transition: background-color ease-in 0.9s, color ease-in 0.9s } }
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    font-family : var(--font-app);
    font-size : var(--font-md);
    font-weight : 500;
}

/*---------------------------------------------------*\
*                    Navigation bar 
\*---------------------------------------------------*/

.padding-navbar {
    height: 56px;
    width: 100%;
    visibility: hidden;
}

.nav-link { 
    padding-block: 0.55rem;;
    align-items: center;
    column-gap: 0.5rem;
    flex-shrink: 0;
    display: flex;
}

.nav-link.active { 
    color: var(--md-sys-color-primary);
}

.navbar {

    transition: background-color ease-in-out 0.35s;
    background-color: var(--md-sys-color-surface);
    box-shadow: var(--shadow-default-md);
    color: var(--md-sys-color-on-surface);
    font-size: var(--font-lg) !important;
    justify-content: center;
    position: fixed;
    display: flex;
    z-index: 9999;
    width: 100%;
    right: 0;
    top: 0;

    .nav-container {
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem;
        display: flex;
        width: 100%;

        .nav-left {
            justify-content: space-between;
            display: flex; column-gap: 1rem; align-items: center;

            .nav-brand {
                display: inline-flex;
                align-items: center;
                column-gap: 0.5rem;

                & h1, .logo { text-transform: uppercase; font-size: var(--font-xl); font-weight: 700; }

                .logo {
                    background: var(--md-sys-color-primary-container);
                    width: 2rem;
                    height: 2rem;
                    display: grid;
                    place-content: center;
                    border-radius: 2rem;
                    padding: 0.6rem;
                }
            }
        }
        .nav-right {

            display: flex;
            align-items: center;

            .search { display: none; }

            .switch-theme {
                background-color: var(--md-sys-color-surface-variant);
                transition: background-color ease-in-out 0.5s;
                border-radius: 2rem;
                align-items: center;
                position: relative;
                padding: 0.4rem;
                display: flex;
                gap: 1.6rem;

                &::before {
                    content: '';
                    background-color: var(--to-sun-bg);
                    transform: translateX(var(--to-sun));
                    transition: all ease-in-out 0.5s;
                    clip-path: circle();
                    position: absolute;
                    height: 1.6rem;
                    width: 1.6rem;
                    z-index: 0;
                    left: 0;
                }
                & button { 
                    z-index: 100;
                    & svg { color: var(--to-sun-color); height: 1.2rem; width: 1.2rem;}
                }
            }
            .profile {
                display: none;
                place-items: center;

                .user-avatar {
                    background-color: var(--md-sys-color-surface-variant);
                    box-shadow: var(--shadow-default-md);
                    border-radius: 100%;
                    padding: 0.25rem;

                    & img {
                        width: 1.75rem;
                        height: 1.75rem;
                    }
                }
                .user-info {
                    background-color: var(--md-sys-color-surface-variant);
                    color: var(--md-sys-color-on-surface-variant);
                    border-radius: var(--rounded-lg);
                    box-shadow: var(--shadow-default-md);
                    font-size: var(--font-md) !important;
                    margin-top: 1rem;
                    position: absolute;
                    min-width: 240px;
                    max-width: 340px;
                    padding: 1rem;
                    width: 100%;
                    top: 100%;
                    right: 0;

                    .text,
                    .profile-action {
                        display: flex;
                        align-items: center;
                        column-gap: 1rem;
                        padding-block: 1rem;
                    }

                }
            }
        }
    } /* end nav-container */

} /* end nav */

.nav-menu-mobile::-webkit-scrollbar {
    display: none;
}

.nav-menu-mobile {
    scrollbar-width: none;
    background-color: var(--md-sys-color-surface-variant);
    color:var(--md-sys-color-on-surface);
    box-shadow: var(--shadow-default-md);
    font-size: var(--font-lg);
    line-height: inherit;
    overflow: auto;
    position: fixed;
    padding: 1.5rem;
    padding-top: 1rem;
    height: 100vh;
    width: 100%;
    max-width: 340px;
    z-index: 99999;
    left: 0;
    top: 0;

    .nav-open-container {
        align-items: center;
        padding: 0.5rem 0;
        justify-content: flex-end;
        display: flex;
        width: 100%;
    }

    .nav-menu-container {

        .sub-menu {
            padding-left: 1.5rem;
            .sub-list {
                .sub-list-title { 
                    color:var(--md-sys-color-tertiary);
                    font-size: var(--font-md);
                    padding-block: 0.55rem;
                    border-bottom: 1px dashed var(--md-sys-color-outline);
                    align-items: center;
                    cursor: default;
                    display: flex;
                    width: 100%;
                }
                .sub-list-title.active,
                .list .list-item.active { 
                    color: var(--md-sys-color-primary); 
                }
                .list {
                    margin-top: .2rem;
                    .list-item { 
                        padding-block: 0.55rem;
                        align-items: center;
                        column-gap: 1rem;
                        display: flex;

                    &:hover { 
                        color: var(--md-sys-color-primary); 
                    }

                        /* &:before { */
                        /*     border-radius: .4rem; */
                        /*     height: 0.3rem; */
                        /*     width: 0.3rem; */
                        /*     content: ''; */
                        /*     background-color: var(--md-sys-color-on-surface-variant); */
                        /* } */
                    }
                }
            }
        }
    }
} /* End navbar mobile */

/*---------------------------------------------------*\
*                      Main 
\*---------------------------------------------------*/

/*---------------------------------------------------*\
*                      Footer
\*---------------------------------------------------*/

.footer { 
    margin-top: 3rem;
    padding-block: 1.5rem 3rem;
    border-top: 1px solid var(--md-sys-color-surface-variant);

    .footer-container {
        .footer-body {
            .footer-body-container {
                display: flex;
                flex-direction: column;
                padding: var(--container-pd-x);
                justify-content: center;

                .footer-menu-container { display: flex; flex-direction: column; 
                    .footer-menu { 
                        align-items: center;
                        column-gap: 1rem;
                        flex-wrap: wrap;
                        display: flex;
                    }
                }

                .social { 
                    margin-top: 2rem; 
                    display: flex; 
                    column-gap: 1.5rem; 

                    & a {
                        align-items: center;
                        display: flex;
                        gap: 0 .5rem;
                    }
                }
            }
        }
        .footer-bar { margin-top: 2rem; font-size: var(--font-sm);

            .footer-bar-container { padding: 0 var(--container-pd-x); }

        }

    }

}

/* .search-mobile, */
.search { position: relative; display: flex; align-items: center; margin-right: 1.5rem;}

.search-mobile input,
.search input {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    line-height: 1.5rem;
    font-size: var(--font-md);
    padding: 0.4rem 1rem;
    border-radius: 5rem;
    width: 100%;

     &:focus {
        outline: 2px solid var(--md-sys-color-outline);
        transition: all ease-out 0.2s;
        outline-offset: 3px;
    }
}
.search-mobile button,
.search button {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border-radius: 1rem;
    position: absolute;
    padding: 0.35rem;
    right: 0.15rem;
}
.search-mobile-container {
    padding: 0 var(--container-pd-x);
    background-color: #000000e6;
    z-index: 999999;
    position: fixed;
    width: 100%;
    inset: 0;
}
.search-mobile-container
.search-mobile {
    align-items: center; 
    position: relative; 
    align-items: center;
    margin-top: 3rem;
    max-width: 720px;
    display: flex;
    width: 100%;
}

.search-mobile-open {
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface-variant);
    border-radius: 2rem;
    margin: 0 2.15rem;
    display: grid;
    height: 2.15rem;
    width: 2.15rem;
    place-content: center;
    transition: all ease-in .2s;

    &:hover {

        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);
        transition: all ease-out .3s;

    }
}

/* @media(min-width: 960px) { */
/*     .search-mobile-container { */
/*         display: none; */
/*     } */
/*     .search-mobile-open { */
/*         display: none; */
/*     } */
/* } */
/**/

/*---------------------------------------------------*\
*                     Media 768px 
\*---------------------------------------------------*/




/*---------------------------------------------------*\
*                     Media 1024px 
\*---------------------------------------------------*/

@media(min-width: 960px) {

    .navbar {
        .nav-container {
            .nav-left {
                .nav-brand {
                    & h1, .logo { text-transform: uppercase; font-size: var(--font-2xl); font-weight: 700; }
                }
            }
            .nav-right { display: flex;
                /* .search { display: flex; width: 100rem; max-width: 16rem; } */
                .switch-theme { margin-right: 1.5rem; }
                .profile { display: grid;}
            }
        }
    }
    .nav-menu-mobile {
        .nav-menu-container {
            .nav-link { 
                .sub-menu {
                    .sub-list {
                        .sub-list-title { 
                            border-bottom: 1px dashed var(--md-sys-color-surface-variant);
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
    .footer {
        margin-top: 5rem;
        padding-block: 3rem 5rem;
        .footer-container {
            .footer-body {
                .footer-body-container {
                    justify-content: space-between;
                    flex-direction: row;
                    display: flex;
                    padding: 0;
                    width: 100%;
                    .social {
                        margin-top: 0;
                    }
                }
            }
            .footer-bar {
                .footer-bar-container { padding: 0; }
            }
        }
    }

}

.min-h-50 {
    min-height: 50vh;
}



