.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }

/*--------------- Card ----------------*/

.card-base {
    transition: all 0.2s ease-out;
    padding: var(--container-pd-x);
    border-radius: var(--rounded-lg);
    border: 1px solid var(--md-sys-color-surface-variant);

    &:hover {
        transition: all 0.3s ease-in;
        border: 1px solid var(--md-sys-color-primary);
    }
}

/*--------------- Button ----------------*/

.btn {
    border-radius: var(--rounded-md);
    padding: var(--btn-pd-md);
    place-items: center;
    display: grid;
}
.btn-outline {
    padding: var(--btn-padding-base);
    border-radius: var(--rounded-md);
    outline: 2px solid transparent;
    background-color: transparent;
    place-items: center;
    display: grid;
    border: none;
}

/*----------------- H -----------------------*/
/*----------------- L -----------------------*/

.hidden { display: none; }

/*----------------- M -----------------------*/

.widget-margin-top { margin-top: 3rem !important; }

.min-h-screen { height: 100vh; }

.mx-auto { margin-left: auto; margin-right: auto; }

/*----------------- N -----------------------*/

/*----------------- O -----------------------*/
.overflow-right-hidden { overflow: hidden; }

@media(min-width: 960px) {
    .overflow-right-hidden { margin-right: var(--scrollbar-w); overflow: hidden; }
}

/*----------------- P -----------------------*/
/*----------------- Q -----------------------*/
/*----------------- R -----------------------*/
/*----------------- S -----------------------*/
/*----------------- T -----------------------*/
.text-gradient-1 {
    background-image: var(--gradient-1);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}
.widget-title-1 {
    font-size: var(--font-xl);
    text-transform: capitalize;
    font-weight: 600;
    cursor: default;
}

/*----------------- U -----------------------*/
/*----------------- V -----------------------*/

[x-cloak] { display: none !important; }

/*----------------- W -----------------------*/
.w-full { width: 100%; }

/*----------------- X -----------------------*/
/*----------------- Y -----------------------*/
/*----------------- Z -----------------------*/
.zalo-icon {
    background-color: #0080ff;
    font-size: var(--font-md);
    place-items: center;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    padding: 0.2rem;
    display: grid;
    color: white; 
    height: 1.75rem;
    width: 1.75rem;
}

/* Min width */
@media(min-width: 960px) {

    .hidden-desktop { display: none !important; }

    .right-on-show-slide { right: 0.25rem !important; }

}

/* Max width */
@media(max-width: 960px) {

    /* .mr-on-show-slide-mobile { margin-right: 0.5rem !important; } */
}












