.home-hero-container { 
    .home-hero {
        color: var(--md-sys-color-on-surface-variant);
        flex-direction: column-reverse;
        position: relative;
        padding: var(--container-pd-x);
        display: flex;
    }
}
.hero-header-container {
    border-radius: 0.5rem;
    .hero-header {
        margin-top: 0.5rem; 
        border-radius: var(--rounded-lg);
        border: 1px solid var(--md-sys-color-surface-variant);
        padding: 0.5rem 1rem;
        display: flex;

        .hero-title { 
            background-image: var(--gradient-1);
            -webkit-background-clip: text;
            font-size: var(--font-2xl); 
            background-clip: text;
            color: transparent;
            font-weight: 600; 
        }
    }
    .hero-desc { 
        border-radius: var(--rounded-lg);
        border: 1px solid var(--md-sys-color-surface-variant);
        font-size: var(--font-xl); 
        margin-top: 0.5rem; 
        font-weight: 400; 
        padding: 1rem;
    }
}
.hero-img {
    box-shadow: var(--shadow-default-md);
    border-radius: var(--rounded-lg);
    border: 1px solid var(--md-sys-color-surface-variant);
    /* margin-top: 0.5rem;  */
    overflow: hidden;
    height: 12rem;
}


