.content-header-container {

    padding: 0 var(--container-pd-x);
    margin-top: 3rem;

    .content-header {
        flex-direction: column;
        display: flex;
        row-gap: 3.5rem;

        .content-header-item {
            position: relative;
            padding-top: 2.5rem !important;

            .cover {
                background-color: var(--md-sys-color-primary);
                border: 3px solid var(--md-sys-color-on-surface);
                transform: translateY(50%);
                position: absolute;
                border-radius: 5rem;
                padding: 0.5rem;
                height: 4rem;
                bottom: 100%;
                width: 4rem;
            }
            & h3 { font-size: var(--font-xl); font-weight: 600; word-spacing: 0.15rem; }

            .desc { margin-top: 1rem; line-height: 1.5rem; word-spacing: 0.125rem; }
        }
    }
}
/* Home card components */
.home-card {
    grid-template-rows: 12rem 4rem auto 1fr;
    display: grid;

    .home-card-cover {
        background-color: var(--md-sys-color-surface-variant);
        border-radius: var(--rounded-lg);
        overflow: hidden;
        height: 100%;
        width: 100%;
        & img {
            object-position:center;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .home-card-title { 
        font-size: var(--font-lg);
        line-height: 1.5rem;
        margin-top: 1rem;

        & p { height: 100%;}
    }
    .home-card-desc {
        font-size: var(--font-md);
        margin-top: 1rem;
    }
    .home-card-footer {
        justify-content: space-between;
        align-items: center;
        column-gap: 0.5rem;
        margin-top: 1rem;
        display: flex;
        color: var(--md-sys-color-on-surface-variant);

        .home-card-footer-user {
            column-gap: 0.3rem;
            align-items: center;
            display: flex;
        }
    }
}

/* Banners home page */
.img-banners-container { 
    margin: 4rem 0;

    .img-banners { 
        flex-direction: column;
        display: flex; 
        width: 100%; 

        .img-banners-cover { 
            overflow: hidden; 
            border-radius: 0;
            min-height: 12rem; 
            width: 100%; 

            .img { 
                object-position: center; 
                object-fit: cover;  
                border-radius: 0;
                height: 100%;
                width: 100%;
            }
        }
        .banners-content { 
            padding: 0 var(--container-pd-x);
            margin-top: 0.7rem;
            height: 100%;

            .banners-title { 
                background-image: var(--gradient-1);
                text-transform: capitalize;
                font-size: var(--font-xl); 
                word-spacing: 0.1rem;
                line-height: 1.25rem;
                align-items: center;
                column-gap: 0.5rem;
                font-weight: 600;
                padding: 0.75rem;
                display: flex;
            }
            & p {
                font-size: var(--font-lg); 
                display: flex;
                column-gap: 1rem;
                padding-top: 1rem;
                width: 100%;
            }
        }
    }
}

/* -----------------Widget -----------------*/
.widget-home-container {
    margin-top: 2rem;

    .widget-home {
        padding: 0 var(--container-pd-x);

        /* .widget-title-1 { } */
        .widget-home-body {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            margin-top: 1rem;
            display: grid;
            gap: 1rem;
        }
    }

}

.view-more {

    justify-content: center;
    margin-top: 2rem;
    display: flex;

    & a {
        border: 1px solid var(--md-sys-color-surface-variant);
        transition: border-color ease-in .2s;
        border-radius: var(--rounded-lg);
        font-size: var(--font-lg);
        padding: .75rem 1.25rem;
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;

        &:hover {
            border-color: var(--md-sys-color-primary);
            transition: border-color ease-out .3s;
        }
    }
}

.widget-tag-container {
    margin-top: 3rem;

    .widget-tag {
        padding: 0 var(--container-pd-x);

        /* .tag-title-container { } */

        .tag-body-container {
            overflow-x: auto;
            scrollbar-width: none;
            align-items: center;
            margin-top: 2rem;
            column-gap: 1rem;
            display: flex;
            padding-block: 0.5rem;

            .tag-body {
                background-color: var(--md-sys-color-primary-container);
                color: var(--md-sys-color-primary-on-container);
                box-shadow: var(--shadow-default-md);
                border-radius: 5rem;
                align-items: center;
                column-gap: 1rem;
                padding: 0.5rem;
                display: flex;
                flex-shrink: 0;

                .tag-icon {
                    background-color: var(--md-sys-color-primary);
                    color: var(--md-sys-color-on-primary);
                    place-content: center;
                    border-radius: 50%;
                    padding: 0.5rem;
                    display: grid;
                }

                & svg {
                    width: 1rem;
                    height: 1rem;
                }

                & a {font-size: var(--font-lg); margin-right: 1rem;}
            }

            &::-webkit-scrollbar { display: none; }
        }
    }
}

@media(min-width: 960px) {

    .widget-tag-container .widget-tag,
    .widget-home-container .widget-home,
    .content-header-container {
        padding: 0;
    }
    .content-header-container {
        margin-top: 14rem !important;
    }
    .widget-tag-container .widget-tag {
        margin-top: 5rem !important;
    }
    .widget-home-container {
        margin-top: 5rem !important;
    }
    .content-header-item {
        padding: 5rem 0;
        .cover { 
            left: 50%; 
            transform: translate(-50%, 50%) !important;
            height: 5rem !important;
            width: 5rem !important;
        }
        & h3 { 
            font-size: var(--font-3xl) !important;
            text-align: center; 
            max-width: 640px; 
            margin-right: auto; 
            margin-left: auto; 
            margin-top: 2rem !important;
        }
        .desc { 
            font-size: var(--font-lg) !important;
            text-align: center;
            max-width: 640px; 
            margin-right: auto; 
            margin-left: auto;
            margin-top: 2rem !important;
        }
    }

    .img-banners-container { 
        margin-top: 5rem;

        .img-banners { 
            background-image: linear-gradient( to right, var(--md-sys-color-surface-variant) 0%, transparent 110%);
            box-shadow: var(--shadow-default-md);
            color: var(--md-sys-color-on-surface);
            border-radius: var(--rounded-lg);
            padding: var(--container-pd-x);
            justify-content: space-between;
            flex-direction: row;
            column-gap: 2rem;

            .img-banners-cover { 
                border-radius: 0;
                overflow: hidden; 
                height: 16rem; 
                width: 100%; 

                .img { 
                    border-radius: var(--rounded-lg);
                    padding: 0;
                }
            }
            .banners-content { 
                margin-top: 0;
                height: 100%;
                width: 100%;
                padding: 0;

                .banners-title { 
                    font-size: var(--font-2xl); 
                    background-image: none;
                    padding: 0 !important;
                    padding: 0.85rem;
                }
                & p {
                    padding-top: 1.6rem;
                    line-height: 1.6rem;
                }
            }
        }
    }

}






