/* Tao phong cach cho cac trang tinh */

.about-container {
    background-color: transparent;
    padding: var(--container-pd-x);
    margin-top: 0.5rem;
    position: relative;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
}
.about-container .cover {
    border: none;
    flex-direction: column;
    border-radius: 1rem;
    display: flex;
}
.cover .img {
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
    flex-shrink: 1;
    height: 16rem;
    z-index: 0;

    & img {
        border-radius: 0.5rem;
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.cover .summary-container {
    padding: 0;
    padding-top: 1.5rem;
    height: 100%;
    width: 100%;

    .summary {
        & h3 {
            font-size: var(--font-2xl);
            letter-spacing: 0.05rem;
            font-weight: 600;
        }
        & p {
            font-size: var(--font-md);
            letter-spacing: 0.04rem;
            word-spacing: 0.15rem;
            line-height: 1.25rem;
            margin-top: 1.5rem;
            text-align: justify;
        }
    }
    .summary .trillium {
        background-color: transparent;
        shape-outside: circle(50%);
        clip-path: circle(50%);
        overflow: hidden;
        margin: 0.5rem;
        float: right;
        height: 7rem;
        width: 7rem;
    }
}
.about-content-container {

    padding: 0;

    .about-content {
        .about {
            .red-trillium {
                background: transparent;
                clip-path: circle(50%);
                shape-outside: circle(50%);
                margin: 0 0.35rem 0.35rem 0;
                overflow: hidden;
                float: left;
                height: 7rem;
                width: 7rem;
            }
            & img {
                object-position: center;
                object-fit: cover;
                height: 100%;
                width: auto;
            }
            & p {
                font-size: var(--font-md);
                letter-spacing: 0.04rem;
                word-spacing: 0.15rem;
                line-height: 1.25rem;
                margin-top: 1.5rem;
                text-align: justify;
            }
        }
    }
    .contact-container {
        border-top: 1px solid var(--md-sys-color-outline);
        padding-block: 2rem;
        margin-top: 2rem;

        .contact {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .contact-item {
                display: flex;
                align-items: center;
                column-gap: 0.5rem;
            }
        }
    }
}

/* breadcrumbs */
.breadcrumbs-container .breadcrumbs {
    border: 1px solid var(--md-sys-color-surface-variant);
    border-radius: var(--rounded-lg);
    padding: var(--container-pd-x);
    align-items: center;
    gap: .75rem 1.5rem;
    cursor: pointer;
    flex-wrap: wrap;
    display: flex;
    width: 100%;

    & a {
        color: var(--md-sys-color-on-surface-variant);
        transition: all ease-in .3s;
        align-items: center;
        column-gap: .5rem;
        display: flex;

        &:hover {
            color: var(--md-sys-color-primary);
            transition: all ease-out .3s;
        }
    }

    & a:is(:last-child) {

        &:hover {
            color: var(--md-sys-color-on-surface-variant);
        }
    }
}

.post-wrap { 
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    padding: 0 var(--container-pd-x);
    margin-block: 1rem 2rem;
    column-gap: 2.5rem;
    display: grid;
}

.post-wrap .post-right-aside {
    font-size: var(--font-sm);
    margin-top: 2rem;
    /* width: 100%; */
}

.aside-module-title {
    border-bottom: 1px solid var(--md-sys-color-surface-variant);
    text-transform: uppercase;
    font-size: var(--font-xl);
    padding-bottom: 1rem;
}

.post-right-aside .aside-topic {

    cursor: pointer;
    margin-top: 3rem;

    .aside-module-container {
        margin-top: 1rem;
        .aside-tpoic-parent {
            align-items: center;
            padding-block: 0.5rem;
            column-gap: .5rem;
            display: flex;
        }
    }
    .aside-topic-sublist-container {

        .aside-topic-child {
            transition: color ease-in .2s;
            align-items: center;
            padding-block: 0.5rem;
            column-gap: .5rem;
            display: flex;

            &:hover {
                color: var(--md-sys-color-primary);
                transition: color ease-out .3s;
            }
        }
    }
}

.post-right-aside .aside-collection {
    cursor: pointer;
    margin-top: 1.5rem;
    .aside-module-container {
        margin-top: 1rem;
        .aside-collection-child {
            transition: color ease-in .2s;
            &:hover {
                color: var(--md-sys-color-primary);
                transition: color ease-out .3s;
            }
            & li {
                padding-block: 0.5rem;
                align-items: center;
                column-gap: .5rem;
                display: flex;
            }
        }

    }
}

@media(min-width: 960px) {
    .post-right-aside .aside-topic {
        margin-top: 0;
    }
}
.post-right-aside .aside-tag {
    margin-block: 2.5rem;
    .aside-module-container {
        flex-direction: column;
        margin-top: 1.5rem;
        gap: .5rem 1rem;
        display: flex;
        & a {
            background-color: var(--md-sys-color-surface-variant);
            color: var(--md-sys-color-on-surface-variant);
            border-radius: var(--rounded-md);
            transition: all ease-in .3s;
            align-items: center;
            column-gap: .5rem;
            padding: 0.5rem;
            display: flex;

            &:hover {
                background-color: var(--md-sys-color-primary);
                color: var(--md-sys-color-on-primary);
                transition: all ease-out .3s;
            }
        }
    }
}

/* Post container content */
.post-container {
    grid-column: span 2;
}
.post-container .post-header {

    .post-title {
        font-size: var(--font-2xl);
        letter-spacing: 0.075rem;
        margin-top: 2.5rem;
        font-weight: 600;
    }

    .post-top-bar {
        /* justify-content: space-between; */
        margin-top: 0.5rem;
        gap: .75em 2rem;
        flex-wrap: wrap;
        cursor: pointer;
        display: flex;

        .post-published-at,
        .post-category,
        .post-user {
            align-items: center;
            column-gap: 0.5rem;
            display: flex;
        }

        .post-category {
            flex-wrap: wrap;
            gap: .75rem 1rem;
            & a {
                align-items: center;
                column-gap: 0.5rem;
                display: flex;
            }
        }
    }

    .post-thumbnail {
        border-radius: var(--rounded-lg);
        margin-top: 1rem;
        overflow: hidden;

        & img { width: 100%; }
    }
}

.post-main .post-anchor-link {
    border: 1px solid var(--md-sys-color-surface-variant);
    border-radius: var(--rounded-lg);
    font-size: var(--font-xl);
    margin-top: 2rem;
    font-weight: 600;
    padding: 1.25rem;

    & a {
        align-items: center;
        column-gap: 0.5rem;
        display: flex;
    }
}

.post-main .post-content {
    margin-top: 2rem;

    & p:has(img) { 
        border-radius: var(--rounded-lg); 
        padding-block: 1.5rem; 
        overflow: hidden;

        & img {

            border-radius: var(--rounded-lg); 
        }
    }
}

.post-container .post-footer {

    border-top: 1px solid var(--md-sys-color-surface-variant);
    justify-content: space-between;
    align-items: align-items;
    padding-block: 1rem;
    margin-top: 3rem;
    cursor: pointer;
    display: flex;

    & a {
        display: flex;
        column-gap: .5rem;
    }
}


@media(min-width: 960px) {
    .post-wrap { 
        margin-block: 2rem 0;
        padding: 0;
    }

    .post-wrap .post-right-aside {
        margin-top: 0;
    }
}

.back-to-top {
    display: none;
}

@media(min-width: 960px) {

    .back-to-top {
        background-color: var(--md-sys-color-surface-variant);
        color: var(--md-sys-color-on-surface-variant);
        box-shadow: var(--shadow-default-md);
        border-radius: var(--rounded-lg);
        transition: all ease-in .2s;
        place-items: center;
        position: fixed;
        margin: 1.5rem;
        display: grid;
        bottom: 0;
        right: 0;
        height: 2.5rem;
        width: 2.5rem;
        &:hover {
            color: var(--md-sys-color-primary);
            transition: all ease-out .3s;
        }
    }

    .about-container {
        border-radius: 2.1rem;
        margin-top: 2.5rem;
        max-width: 960px;
        width: 100%;
    }
    .about-container .cover {
        border: 1px solid var(--md-sys-color-outline);
        border-radius: 2rem;
        flex-direction: row;
    }
    .cover .img {
        border-radius: 1.9rem 0 0 1.9rem;
        padding: 1.5rem;
        flex-shrink: 0;
        height: 32rem;

        & img {
            border-radius: 1.5rem 0 0 1.5rem;
        }
    }
    .cover .summary-container {
        padding-right: 1.5rem;
        .summary {
            & h3 {
                font-size: var(--font-2xl);
            }
            & p {
                font-size: var(--font-lg);
                margin-top: 1.5rem;
            }
        }
        .summary .trillium {
            margin: 0.5rem;
            height: 9rem;
            width: 9rem;
        }
    }
    .about-content-container {
        padding: 1.5rem;

        .about-content .about .red-trillium {
            height: 9rem;
            width: 9rem;
        }
    }

}

.page-top-banners {

    border-radius: 0;
    overflow: hidden;
    margin-top: 1rem;
    height: 12rem;
    width: 100%;
    & img {
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@media(min-width: 960px) {
    .page-top-banners {
        border-radius: var(--rounded-lg);
    }
}
